<mat-card class="sample-card" *ngIf="species">
  <mat-card-header>
  <img mat-card-image src="{{species.imageURL}}" onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'" alt="Photo of a Species">  
  <!-- <mat-card-title></mat-card-title> -->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
  <mat-card-content class="small-card">
  <h2>{{species.name}}</h2>
  Classification: {{species.classification}} <br>
  Designation: {{species.designation}} <br>
  Average Height: {{species.average_height}} <br>
  Average Lifespan: {{species.average_lifespan}} <br>
  Eye Colors: {{species.eye_colors}} <br>
  Hair Colors: {{species.hair_colors}} <br>
  Skin Colors: {{species.skin_colors}} <br>
  Language: {{species.language}} <br>
  Homeworld: {{species.homeworld}} <br>
  People: 
   <ng-container *ngFor="let people of species.people; let isLast=last">
  {{people}}{{isLast ? '' : ', '}}
   </ng-container><br>
  Films: 
   <ng-container *ngFor="let films of species.films; let isLast=last">
  {{films}}{{isLast ? '' : ', '}}
   </ng-container><br>
  </mat-card-content> 
  <mat-divider></mat-divider>
  <mat-card-content>
  <mat-form-field>
  <input matInput [(ngModel)]="comments" placeholder="Comments">
  </mat-form-field>
  <button (click)="saveValue()" mat-button>Save</button>
  <button (click)="shareAPI()" mat-button><mat-icon>share</mat-icon>Share</button>
</mat-card-content>
</mat-card-content>
</mat-card>