<mat-card class="sample-card" *ngIf="vehicle">
  <mat-card-header>
  <img mat-card-image src="{{vehicle.imageURL}}" onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'" alt="Photo of a Vehicle">  
  <!-- <mat-card-title></mat-card-title> -->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
  <mat-card-content class="small-card">
  <h2>{{vehicle.name}}</h2>
  Model: {{vehicle.model}} <br>
  Vehicle Class: {{vehicle.vehicle_class}} <br>
  Manufacturer: {{vehicle.manufacturer}} <br>
  Length: {{vehicle.length}} <br>
  Cost in Credits: {{vehicle.cost_in_credits}} <br>
  Crew: {{vehicle.crew}} <br>
  Passengers: {{vehicle.passengers}} <br>
  Max Atmosphering Speed: {{vehicle.max_atmosphering_speed}} <br>
  Cargo Capactiy: {{vehicle.cargo_capacity}} <br>
  Consumables: {{vehicle.consumables}} <br>
  Pilots: 
   <ng-container *ngFor="let pilots of vehicle.pilots; let isLast=last">
  {{pilots}}{{isLast ? '' : ', '}}
   </ng-container><br>
  Films: 
   <ng-container *ngFor="let films of vehicle.films; let isLast=last">
  {{films}}{{isLast ? '' : ', '}}
   </ng-container><br>
  </mat-card-content> 
  <mat-divider></mat-divider>
  <mat-card-content>
  <mat-form-field>
  <input matInput [(ngModel)]="comments" placeholder="Comments">
  </mat-form-field>
  <button (click)="saveValue()" mat-button>Save</button>
  <button (click)="shareAPI()" mat-button><mat-icon>share</mat-icon>Share</button>
</mat-card-content>
</mat-card-content>
</mat-card>