<mat-card class="sample-card" *ngIf="planet">
  <mat-card-header>
  <img mat-card-image src="{{planet.imageURL}}" onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'" alt="Photo of a Planet">  
  <!-- <mat-card-title></mat-card-title> -->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
  <mat-card-content class="small-card">
  <h2>{{planet.name}}</h2>
  Rotation Period: {{planet.rotation_period}} <br>
  Orbital Period: {{planet.orbital_period}} <br>
  Diameter: {{planet.diameter}} <br>
  Climate: {{planet.climate}} <br>
  Gravity: {{planet.gravity}} <br>
  Terrain: {{planet.terrain}} <br>
  Surface Water: {{planet.surface_water}} <br>
  Population: {{planet.population}} <br>
    Residents: 
   <ng-container *ngFor="let residents of planet.residents; let isLast=last">
  {{residents}}{{isLast ? '' : ', '}}
   </ng-container><br>
   Films: 
   <ng-container *ngFor="let films of planet.films; let isLast=last">
  {{films}}{{isLast ? '' : ', '}}
   </ng-container><br>
  </mat-card-content> 
  <mat-divider></mat-divider>
  <mat-card-content>
  <mat-form-field>
  <input matInput placeholder="Comments">
  </mat-form-field>
  <mat-card-actions>
      <button (click)="shareAPI()" mat-button><mat-icon>share</mat-icon>Share</button>
      <!-- <a  mat-raised-button  href="{{person.url}}"  color="primary">More</a> -->
  </mat-card-actions>
</mat-card-content>
</mat-card-content>
</mat-card>