.sample-card {
  max-width: 400px;
}
.mat-card-header{
    background-color:#fafafa !important;
    padding:5px !important;
    justify-content: center;
  } 
  /* .mat-card-title{
    font-size: 1.5rem;
    margin-left: 130%;
  } */

  .mat-card img{
    object-fit: cover; 
    width: 80%; 
    height: 80%;
    padding: 0px !important;
  }
  .mat-card{
    padding:0 !important;
  }
  
  .mat-card-content{
    padding:20px !important;
    border: solid;
  }
 