<mat-card class="sample-card" *ngIf="person">
    <mat-card-header>
    <img mat-card-image src="{{person.imageURL}}" alt="Photo of a Character">  
    <!-- <mat-card-title></mat-card-title> -->
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
    <mat-card-content class="small-card">
    {{person.name}} <br>
     Birth Year: {{person.birth_year}} <br>
     <ng-container *ngFor="let species of person.species">
    Species: {{species}} <br>
     </ng-container>
     Height: {{person.height}} <br>
     Mass: {{person.mass}} <br>
     Gender: {{person.gender}} <br>
     Hair Color: {{person.hair_color}} <br>
     Skin Color: {{person.skin_color}} <br>
     Homeworld: {{person.homeworld}} <br>
    </mat-card-content> 
    <mat-divider></mat-divider>
    <mat-card-content>
    <mat-form-field>
    <input matInput placeholder="Comments">
    </mat-form-field>
    <mat-card-actions>
        <button mat-button><mat-icon>share</mat-icon>Share</button>
        <!-- <a  mat-raised-button  href="{{person.url}}"  color="primary">More</a> -->
    </mat-card-actions>
  </mat-card-content>
  </mat-card-content>
</mat-card>