<mat-card class="sample-card" *ngIf="film">
  <mat-card-header>
  <img mat-card-image src="{{film.imageURL}}" onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'" alt="Photo of a Film">  
  <!-- <mat-card-title></mat-card-title> -->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
  <mat-card-content class="small-card">
  <h2>{{film.title}}</h2>
   Episode Id: {{film.episode_id}} <br>
   Opening Crawl: {{film.opening_crawl}}<br>
   Director: {{film.director}}<br>
   Producer: {{film.producer}}<br>
   Release Date: {{film.release_date}}<br>
   Species: 
  <ng-container *ngFor="let species of film.species; let isLast=last">
      {{species}}{{isLast ? '' : ', '}}
  </ng-container><br>
   Starships: 
  <ng-container *ngFor="let starships of film.starships; let isLast=last">
      {{starships}}{{isLast ? '' : ', '}}
  </ng-container><br>
  Vehicles: 
  <ng-container *ngFor="let vehicles of film.vehicles; let isLast=last">
      {{vehicles}}{{isLast ? '' : ', '}}
  </ng-container><br>
  Planets: 
  <ng-container *ngFor="let planets of film.planets; let isLast=last">
      {{planets}}{{isLast ? '' : ', '}}
  </ng-container><br>
  </mat-card-content> 
  <mat-divider></mat-divider>
  <mat-card-content>
  <mat-form-field>
  <input matInput placeholder="Comments">
  </mat-form-field>
  <mat-card-actions>
      <button mat-button><mat-icon>share</mat-icon>Share</button>
      <!-- <a  mat-raised-button  href="{{person.url}}"  color="primary">More</a> -->
  </mat-card-actions>
</mat-card-content>
</mat-card-content>
</mat-card>