<mat-card class="sample-card" *ngIf="starship">
  <mat-card-header>
  <img mat-card-image src="{{starship.imageURL}}" onerror="this.src='https://starwars-visualguide.com/assets/img/big-placeholder.jpg'" alt="Photo of a Starship">  
  <!-- <mat-card-title></mat-card-title> -->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
  <mat-card-content class="small-card">
  <h2>{{starship.name}}</h2>
  Model: {{starship.model}} <br>
  Starship Class: {{starship.starship_class}} <br>
  Manufacturer: {{starship.manufacturer}} <br>
  Cost in Credits: {{starship.cost_in_credits}} <br>
  Length: {{starship.length}} <br>
  Crew: {{starship.crew}} <br>
  Passengers: {{starship.passengers}} <br>
  Max Atmosphering Speed: {{starship.max_atmosphering_speed}} <br>
  Hyperdrive Rating: {{starship.hyperdrive_rating}} <br>
  MGLT: {{starship.MGLT}} <br>
  Cargo Capactiy: {{starship.cargo_capacity}} <br>
  Consumables: {{starship.consumables}} <br>
  Pilots: 
   <ng-container *ngFor="let pilots of starship.pilots; let isLast=last">
  {{pilots}}{{isLast ? '' : ', '}}
   </ng-container><br>
  Films: 
   <ng-container *ngFor="let films of starship.films; let isLast=last">
  {{films}}{{isLast ? '' : ', '}}
   </ng-container><br>
  </mat-card-content> 
  <mat-divider></mat-divider>
  <mat-card-content>
  <mat-form-field>
  <input matInput placeholder="Comments">
  </mat-form-field>
  <mat-card-actions>
      <button (click)="shareAPI()" mat-button><mat-icon>share</mat-icon>Share</button>
      <!-- <a  mat-raised-button  href="{{person.url}}"  color="primary">More</a> -->
  </mat-card-actions>
</mat-card-content>
</mat-card-content>
</mat-card>